/* Post Like System */
@font-face {
  font-family: "like_font";
  src: url("./fonts/like_font.eot");
  src: url("./fonts/like_font.eot?#iefix") format("embedded-opentype"),
       url("./fonts/like_font.woff") format("woff"),
       url("./fonts/like_font.ttf") format("truetype"),
       url("./fonts/like_font.svg#like_font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "like_font";
    src: url("./fonts/like_font.svg#like_font") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-gear:before,
.icon-like:before,
.icon-unlike:before {
  display: inline-block;
  font-family: "like_font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-like:before { content: "\f105"; }
.icon-unlike:before { content: "\f106"; }
.icon-gear:before { 
	content: "\f104";
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}

@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

a.jm-post-like {
	font-weight: normal;
	display: inline-block;
	width: auto;
	-moz-transition: all 0.3s ease-out 0.2s;
	-webkit-transition: all 0.3s ease-out 0.2s;
	-o-transition: all 0.3s ease-out 0.2s;
}

a.jm-post-like:hover,
a.jm-post-like:active,
a.jm-post-like:focus,
a.liked:hover,
a.liked:active,
a.liked:focus {
	color: #000;
}